<!DOCTYPE html>
<head>
    <meta charset="utf-8" name="viewport"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>服务器列表</title>
</head>

<style>
	.pinfo #pinfo
	{
	text-align:center;
	}
</style>
<script>

</script>
<body>
{% if request.user.is_authenticated %}
<nav class="navbar navbar-inverse">
        <div class="container">
              <div class="nav navbar-nav navbar-right">
            <li><a>您好,{{request.user}}</a></li>
            <li> <a href="{% url 'server:logout' %}">注销</a></li>
          </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a  class="navbar-brand" href="/servicelist/index" style="color:white;">服务器列表</a>
          </div>
        </div>
</nav>

  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
   	  <tr>
          <th width="12%">服务器</th>
   	  	  <th>虚拟机地址</th>
          <th>宿主机地址</th>
          <th width="15%">运行状态</th>
          <th  width="12%" style="text-align:center;">开机虚拟机</th>
   	  	  <th  width="12%" style="text-align:center;">重启虚拟机</th>
          <th  width="12%" style="text-align:center;">关闭虚拟机</th>


   	  </tr>
    </thead>

    <tbody>
    	{% for i in info %}
    <tr>
        <th class="servicenum">
            {{ i.0 }}
        </th>
        {% if i.2 != 0 %}
        <th class="adress" style="vertical-align: middle;color:#0DE0AF;">
            {{ i.2 }}
        </th>
		{% else %}
		<th class="adress" style="vertical-align: middle;color: #8a6d3b;">
            地址未分配
        </th>
		
		{% endif %}
            <th class="server_adress">
            {{ i.3 }}
        </th>
        {% if i.1 == 1 %}
        <th style="vertical-align: middle;color:#0DE0AF;" >
            正在运行
        </th>
            {% elif i.1 == 0 %}
            <th style="vertical-align: middle;color: #8a6d3b;">
            已关机
        </th>
            {% endif %}
        <th class="start_server" style="text-align:center;">
          <form  action="{% url 'server:kstart' %}" method="POST">
              {% csrf_token %}
              <input id="domain" type="hidden" name="domain_name" value="{{ i.0 }}">
              <button type="submit" class="btn btn-primary"  value="{{ i.0 }}"  >开机</button>
          </form>
        </th>
        <th class="restart_server" style="text-align:center;">
          <form  action="{% url 'server:krestart' %}" method="POST">
              {% csrf_token %}
              <input id="domain" type="hidden" name="domain_name" value="{{ i.0 }}">
              <button type="submit" class="btn btn-success" value="{{ i.0 }}" >重启</button>
          </form>
        </th>
        <th class="stop_server" style="text-align:center;">
          <form  action="{% url 'server:kstop' %}" method="POST">
              {% csrf_token %}
              <input id="domain" type="hidden" name="domain_name" value="{{ i.0 }}">
              <button type="submit" class="btn btn-danger" value="{{ i.0 }}" >关机</button>
          </form>
        </th>

        {% endfor %}
    </tbody>
  </table>
        {% else %}
           <script language="javascript" type="text/javascript">
                 alert('您尚未登录或已登录超时，请重新登录系统！');
        window.location.href='/servicelist';
         </script>
{% endif %}
</body>
</html>