<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static1/css/uikit.min.css" />
    <script src="../static1/js/uikit.min.js"></script>
</head>

<body>
	<form  class="uk-form" action="{% url 'server:register' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ registform.as_p }}
		<input type="submit"  class="uk-button uk-button-primary uk-form-width-medium" value="注册">
	</form>
</body>
</html>